$bg-main-color: #f7f7f7;
$bg-second-color: #4f43727c;
$bg-project-color: #ddd;

$text-main-color: #000;
$text-second-color: rgba(0, 0, 0, 0.768);

$border-color: #ddd;
$button-color: #fff;

$error-color: rgb(247, 44, 8);
